PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/club_platform
CLIENT_ORIGIN=http://localhost:5173,https://otterclub-frontend.vercel.app,https://otterclub-frontend-34nyow9zq.vercel.app
NODE_ENV=development
